<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Adam Kašela" />
    <title>Zážitok vo virtuálnej realite</title>
    <link href="../css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" href="#page-top">VR edukačný zážitok</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#hero">Domov</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">O projekte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Zdroje</a>
                    </li>
                </ul>
                <a class="navbar-brand ms-lg-5 ms-sm-0" href="https://github.com/KasiKral/aframe-petri-net-sim">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header id="hero">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="../assets/splash/lucrezia-carnelos-IMUwe-p1yqs-unsplash.jpg" class="d-block mx-lg-auto img-fluid rounded shadow" alt="VR history IMG" width="700" height="500" loading="lazy" />
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">
                        Zážitok vo virtuálnej realite s cieľom edukovať
                    </h1>
                    <p class="lead">
                        Existuje mnoho skúseností, ktoré môže technológia VR ponúknuť používateľom. Ponorenie používateľov do histórie je jedným z najpozoruhodnejších a najvýznamnejších. Vo VR môže človek preskúmať historické prostredie a dozvedieť sa o ňom jedinečným a samozrejme
                        dynamickým spôsobom.
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/scene">Vyskúšaj</a>
                        <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="#about">Čítaj ďalej</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About section-->
    <section id="about" class="bg-light">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-10">
                    <h2>O projekte</h2>
                    <p class="lead">Tento projekt sa zaobera... bla bla</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Services section-->
    <section id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-9 mb-5">
                    <h2>Zdroje</h2>
                    <p class="lead">
                        V tejto časti sa zaoberáme vypísaním referencií všetkých použitých zdrojov, ktoré sme v využili v tomto zážitku na dotvorenie príslušnej scény zameranej na výučbu historických udalostí.
                    </p>
                </div>
            </div>
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-4">
                    <h4>Použitá literatúra</h4>
                    <p>
                        Použitá literatúra na popísanie historických udalostí vyzobrazených vo VR scéne.
                    </p>
                    <ul class="icon-list">
                        <li>
                            <a href="https://sk.wikipedia.org/wiki/M%C3%A1ria_Ter%C3%A9zia" rel="noopener" target="_blank">Mária Terézia - Wikipédia, 2022</a>
                        </li>
                        <li>
                            <a href="https://sk.wikipedia.org/wiki/Franti%C5%A1ek_I._(Sv%C3%A4t%C3%A1_r%C3%ADmska_r%C3%AD%C5%A1a)" rel="noopener" target="_blank">František I. Štefan Lotrinský - Wikipédia, 2022</a>
                        </li>
                        <li>
                            <a href="https://sk.wikipedia.org/wiki/Karol_VI._(Sv%C3%A4t%C3%A1_r%C3%ADmska_r%C3%AD%C5%A1a)" rel="noopener" target="_blank">Karol VI. Habsburský - Wikipédia, 2022</a>
                        </li>
                        <li>
                            <a href="https://sk.wikipedia.org/wiki/Jozef_II._(Sv%C3%A4t%C3%A1_r%C3%ADmska_r%C3%AD%C5%A1a)" rel="noopener" target="_blank">Jozef II. Habsburský - Wikipédia, 2022</a>
                        </li>
                        <li>
                            <a href="https://www.mladeleta.sk/dejepis-pre-7-rocnik-zs-a-2-rocnik-gymnazia-s-osemrocnym-studiom#tb1=2" rel="noopener" target="_blank">Dejepis Pre 7. Ročník Zš a 2. Ročník Gymnázia S
                                Osemročným Štúdiom. SPN - Mladé letá. Prístupené Marec 23, 2022. </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h4>Licencie (CC)</h4>
                    <p>
                        Licencie na dostupné 3D modely a obrázky pužité v tomto projekte.
                    </p>
                    <ul class="icon-list">
                        <li>
                            <a href="https://free3d.com/3d-model/crown-hungarian-v1--158072.html">"Crown Hungarian V1 3D
                                Model</a>
                        </li>
                        <li>
                            <a href="https://skfb.ly/6XyIX">"presidential mace" by p.yakubovich is licensed under
                                Creative Commons Attribution</a>
                        </li>
                        <li>
                            <a href="https://skfb.ly/6XqtZ">"Steel Sword" by Peter Primini is licensed under Creative
                                Commons Attribution</a>
                        </li>
                        <li>
                            <a href="https://skfb.ly/6S8zY">"Folded Towel" by Nicothin is licensed under Creative
                                Commons Attribution</a>
                        </li>
                        <li>
                            <a href="https://skfb.ly/XISE">"Pile of books" by Brenwltrs is licensed under Creative
                                Commons Attribution</a>
                        </li>
                        <li>
                            <a href="https://3dwarehouse.sketchup.com/model/665f11007cfbe8e25fd98072462db6b7/Bratislava-castle">Bratislava
                                castle</a>
                        </li>
                        <li>
                            <a href="https://3dwarehouse.sketchup.com/model/8b5af6ed28083ce4ed884fc168c5781/Katedr%C3%A1la-sv-Martina-Bratislava">Katedrála
                                sv. Martina ,Bratislava
                            </a>
                        </li>
                        <li>
                            <a href="https://commons.wikimedia.org/wiki/File:1_thaler_Maria_Theresia_1780.png">Windrain,
                                CC BY-SA 4.0, via Wikimedia Commons</a>
                        </li>
                        <li>
                            <a href="https://commons.wikimedia.org/wiki/File:Middle_Coat_of_Arms_of_Maria_Theresa,_Holy_Roman_Empress.svg">Tom
                                Lemmens (in collaboration with Heralder), CC BY-SA 3.0, via Wikimedia Commons</a>
                        </li>
                        <li>
                            <a href="https://commons.wikimedia.org/wiki/File:Kaiserin_Maria_Theresia_(HRR).jpg">Martin
                                van Meytens, Public domain, via Wikimedia Commons</a>
                        </li>
                        <li>
                            <a href="https://commons.wikimedia.org/wiki/File:Meytens,_studio_or_circle_of_-_Francis_I,_Holy_Roman_Emperor.png">Studio
                                of Martin van Meytens, Public domain, via Wikimedia Commons</a>
                        </li>
                        <li>
                            <a href="https://commons.wikimedia.org/wiki/File:Portrait_of_Emperor_Charles_VI_in_armour,_decorated_with_the_Order_of_the_Golden_Fleece.jpg">Anonymous,
                                Public domain, via Wikimedia Commons</a>
                        </li>
                        <li>
                            <a href="https://commons.wikimedia.org/wiki/File:Joseph_Hickel_-_Emperor_Joseph_II,_pair.png">Joseph
                                Hickel, Public domain, via Wikimedia Commons</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4>A-frame komponenty</h4>
                    <p>Zoznam použitých komponentov na rozšírenie A-frame scény.</p>
                    <ul class="icon-list">
                        <li>
                            <a href="https://www.npmjs.com/package/aframe-physics-system">Physics for A-Frame VR</a>
                        </li>
                        <li>
                            <a href="https://github.com/wmurphyrd/aframe-physics-extras">A-Frame Physics Extras
                            </a>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/aframe-extras">A-Frame Extras</a>
                        </li>
                        <li>
                            <a href="https://github.com/wmurphyrd/aframe-super-hands-component">Super Hands</a>
                        </li>
                        <li>
                            <a href="https://github.com/supermedium/superframe/tree/master/components/event-set/">aframe-event-set-component</a>
                        </li>
                        <li>
                            <a href="https://github.com/supermedium/aframe-environment-component">aframe-environment-component</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4">
            <p class="m-0 text-center text-white">
                Copyright &copy; Zážitok vo virtuálnej realite - Adam Kašela 2022
            </p>
        </div>
    </footer>

    <script src="../index.js"></script>
</body>

</html>