<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Zážitok vo virtuálnej realite</title>
    <meta name="description" content="Now in 3D!" />

    <script
      src="https://aframe.io/releases/1.0.4/aframe.min.js"
      crossorigin="anonymous"></script>

    <script
      src="https://unpkg.com/super-hands@^3.0.2/dist/super-hands.min.js"
      crossorigin="anonymous"></script>
    <script
      src="https://unpkg.com/aframe-event-set-component@^4.1.1/dist/aframe-event-set-component.min.js"
      crossorigin="anonymous"></script>
    <!--PHYSICS SYSTEM------------------------------------------------------------------------------------------------------>
    <script
      src="https://cdn.jsdelivr.net/gh/n5ro/aframe-physics-system@v4.0.1/dist/aframe-physics-system.min.js"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"
      crossorigin="anonymous"></script>
    <script
      src="https://unpkg.com/aframe-physics-extras/dist/aframe-physics-extras.min.js"
      crossorigin="anonymous"></script>
    <script
      src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"
      crossorigin="anonymous"></script>
    <!--BUNDLED SCRIPTS------------------------------------------------------------------------------------------------------>
    <script src="../js/bundle.js"></script>
  </head>

  <body>
    <a-scene
      renderer="colorManagement: true"
      light="defaultLightsEnabled: false"
      shadow="type: pcfsoft"
      petri-net-sim="finalPlace: final; taskCount: 3"
      gltf-model="dracoDecoderPath: https://www.gstatic.com/draco/v1/decoders/;"
      physics="gravity: 0">
      <!-- Load Assets -->
      <a-assets timeout="10000">
        <!-- global -->
        <audio id="success_sound" src="../assets/sounds/success.wav"></audio>
        <audio
          id="unsuccess_sound"
          src="../assets/sounds/unsuccess.wav"></audio>
        <audio id="tap" src="../assets/sounds/tap.wav"></audio>
        <a-asset-item
          id="museum"
          src="../assets/3DModels/museum_final.glb"></a-asset-item>
        <a-asset-item
          id="navmesh"
          src="../assets/3DModels/navMesh.glb"></a-asset-item>
        <a-asset-item
          id="coin"
          src="../assets/3DModels/coin.glb"></a-asset-item>
        <a-asset-item
          id="svMartin"
          src="../assets/3DModels/svMartin.glb"></a-asset-item>
        <a-asset-item
          id="blava"
          src="../assets/3DModels/blava.glb"></a-asset-item>
        <a-asset-item
          id="crown"
          src="../assets/3DModels/crown.glb"></a-asset-item>
        <a-asset-item id="cup" src="../assets/3DModels/cup.glb"></a-asset-item>
        <a-asset-item
          id="apple_coat"
          src="../assets/3DModels/apple_coat.glb"></a-asset-item>
        <a-asset-item
          id="sword"
          src="../assets/3DModels/sword.glb"></a-asset-item>
        <a-asset-item
          id="mace"
          src="../assets/3DModels/mace.glb"></a-asset-item>
        <a-asset-item
          id="book"
          src="../assets/3DModels/book.glb"></a-asset-item>
        <img
          id="erb"
          src="../assets/images/Middle_Coat_of_Arms_of_Maria_Theresa,_Holy_Roman_Empress.svg.png" />
        <img
          id="maria"
          src="../assets/images/Kaiserin_Maria_Theresia_(HRR)-min.jpg" />
        <img
          id="jozef"
          src="../assets/images/Joseph_Hickel_-_Emperor_Joseph_II,_pair-min.png" />
        <img
          id="frantisek"
          src="../assets/images/Meytens,_studio_or_circle_of_-_Francis_I,_Holy_Roman_Emperor-min.png" />
        <img
          id="karol"
          src="../assets/images/Portrait_of_Emperor_Charles_VI_in_armour,_decorated_with_the_Order_of_the_Golden_Fleece-min.jpg" />
        <img id="controls" src="../assets/images/Keyboard_controls.png" />
        <img id="museumMap" src="../assets/images/museum-map.png" />
        <img id="infoPanel" src="../assets/images/Panel.png" />
        <img id="infoIcon" src="../assets/images/info-circle.png" />
        <img id="unselected" src="../assets/images/slash-circle-fill-red.png" />
        <img id="selected" src="../assets/images/check-circle-fill-green.png" />
        <a-mixin
          id="canGrab"
          hoverable
          grabbable
          draggable
          droppable
          dynamic-body
          sleepy></a-mixin>
      </a-assets>

      <!-- Environment -->
      <a-entity
        environment="preset: yavapai; skyType: atmosphere; playArea: 1.2; lightPosition: -0.24 30 -1">
      </a-entity>

      <!-- AVATAR BODY ------------->
      <a-entity
        id="player"
        geometry="primitive: cylinder; radius: 0.3"
        material="color: green; wireframe: true; visible: false"
        position="8.275 1 2.93"
        movement-controls="constrainToNavMesh: true"
        static-body>
        <a-entity
          id="playerhead"
          body="type: static; shape: sphere; sphereRadius: 0.001"
          camera
          position="0 1.75 0"
          look-controls="pointerLockEnabled:true"
          super-hands="colliderEvent: raycaster-intersection;
                             colliderEventProperty: els;
                             colliderEndEvent:raycaster-intersection-cleared;
                             colliderEndEventProperty: clearedEls;">
          <a-entity
            raycaster="objects: .interactible, .P3C, .P3I;"
            cursor="fuse: true; fuseTimeout: 0"
            geometry="primitive: ring; radiusInner: 0.005; radiusOuter: 0.009"
            material="color: green; shader: flat"
            position="0 0 -1"></a-entity>
        </a-entity>
      </a-entity>

      <!-- Map and navigationMesh ---------------------------------------------------------------------->
      <a-entity gltf-model="#museum" position="0 1 16"></a-entity>
      <a-entity
        gltf-model="#navmesh"
        position="0 1 16"
        visible="false"
        nav-mesh></a-entity>

      <!-- Middle Space ------------------------------------------------------------------------------->
      <a-entity id="WelcomMsg" position="6.536 4.5 -1.841">
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Zážitok vo virtuálnej realite"
          text="width: 3; wrapCount: 20"
          position="0 0.7 0"
          color="#333333">
        </a-text>
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Vitajte v novom, veľmi vzrušujúcom spôsobe vzdelávania študentov a prezentácii historických udalostí pomocou technológií XR. V tomto zážitku sa venujeme vyzobrazeniu historických udalostí na tému osvietenských reforiem habsburskej monarchie."
          text="width: 3; wrapCount: 50"
          position=""
          color="#4F4F4F">
        </a-text>
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Táto scéna pozostáva z 3 vzájomne prepojených miestností, ktoré obsahujú 16 zaujímavých expozícií, v ktorých musíte splniť nejaké úlohy. Prajeme vám veľa šťastia pri ich úspešnom dokončení, neváhajte a preskúmajte tento zažitok."
          text="width: 3; wrapCount: 50"
          position="0 -0.75 0"
          color="#4F4F4F">
        </a-text>
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Táto scéna pozostáva z 3 vzájomne prepojených miestností, ktoré obsahujú 16 zaujímavých expozícií, v ktorých musíte splniť nejaké úlohy. Prajeme vám veľa šťastia pri ich úspešnom dokončení, neváhajte a preskúmajte tento zažitok."
          text="width: 3; value: - Adam Kašela; wrapCount: 50"
          position="0 -1.24907 0"
          color="#4F4F4F"
          align="right"
          anchor="left">
        </a-text>
        <a-plane
          src="#controls"
          scale="3 1.5 0"
          height="auto"
          width="auto"
          position="1.76035 -2.26774 0.00962"
          material="transparent: true; shader: flat">
        </a-plane>
      </a-entity>

      <a-entity
        id="gratulationMsg"
        position="10.236 1.767 7.996"
        rotation="0 180 0"
        visible="false">
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Gratulujeme"
          text="width: 3; wrapCount: 20"
          position="0 0.7 0"
          color="#333333">
        </a-text>
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Úspešne ste dokončili všetky úlohy v scéne. Pokial si chcete tento zážitok zopakovať ešte raz, stačí obnoviť stránku."
          text="width: 3; wrapCount: 50"
          position="0 0.2 0"
          color="#4F4F4F">
        </a-text>
      </a-entity>
      <a-plane
        id="map"
        src="#museumMap"
        scale="4.79 3.23 0.00001"
        height="auto"
        width="auto"
        position="8.21406 4.35163 7.976"
        rotation="0 180 0"
        material="transparent: true; shader: flat">
      </a-plane>
      <a-circle
        id="P1confirmProgress"
        position="6.90593 3.5 7.956"
        rotation="0 180 0"
        scale="0.07 0.07 0.07"
        material="color: red; side: double; shader: flat"></a-circle>
      <a-circle
        id="P2confirmProgress"
        position="6.90593 3.3 7.956"
        rotation="0 180 0"
        scale="0.07 0.07 0.07"
        material="color: red; side: double; shader: flat"></a-circle>
      <a-circle
        id="P3confirmProgress"
        position="6.90593 3.1 7.956"
        rotation="0 180 0"
        scale="0.07 0.07 0.07"
        material="color: red; side: double; shader: flat"></a-circle>

      <a-plane
        src="#erb"
        scale="2 2.42 2"
        height="auto"
        width="auto"
        rotation="0 180 0"
        position="8.248 3.374 -2.099">
        <a-entity
          class="infoPanels"
          scale="1 0.420 0.510"
          position="0.153 -0.6 0.115"
          rotation="0 90 0">
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.23942"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.02688 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Erb Márie Terézie"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.4 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="cisárovná Svätej rímskej ríše nemeckého národa (zdieľané), Kráľovná Uhorska, Česka, Chorvátska a Slavónska, Arcivojvodkyňa Rakúska, Vojvodkyňa Parmy a Piacenzy, Veľkovojvodkyňa Toskánska."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 0.1 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-plane>

      <a-entity gltf-model="#coin" position="0 1 16">
        <a-entity
          class="infoPanels"
          position="7.401 1.246 -4.877"
          rotation="0 0 0">
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.23942"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.02688 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Toliar Márie Terézie"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.4 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Mária Terézia nechala počas svojej vlády vyraziť skoro 300 typov medených, strieborných  mincí. Jednou z najslávnejších mincí uvedenej panovníčky sú toliare nazývané levantské. Razili  sa v oblasti Predného Rakúska. Norma na ich razbu stanovovala nasledujúce parametre: veľkosť 40-41 mm, hmotnosť 28,06 g, obsahovali až 83,3 percent čistého striebra. Tieto mince boli v dobe svojej razby jednými z najreprezentatívnejších platidiel cisárovnej Márie Terézie."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 0 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-entity>

      <a-entity gltf-model="#blava" position="0 1 16">
        <a-entity
          class="infoPanels"
          position="6.71663 1.30132 -20.8599"
          rotation="0 90 0">
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.23942"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.02688 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Bratislavský hrad"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.4 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Jadro hradu tvorí palác lichobežníkového tvaru, ktorý dal postaviť cisár Žigmund Luxemburský ako svoju rezidenciu a zároveň pevnosť proti husitom. Dnešnú podobu so štyrmi nárožnými vežičkami získal hrad v 17. storočí. V najväčšej z nich Korunnej veži sa uschovávali korunovačné klenoty. Najreprezentatívnejší charakter získal hrad počas panovania Márie Terézie, ktorá k hradnému palácu pristavala nové hospodárske budovy a založila záhrady."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 0 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-entity>
      <!-- Exposition Room 1 ------------------------------------------------------------------------------->
      <a-box
        id="place1"
        physics-collider
        collision-detector="collisionEvent: P1; clearedCollisionEvent: Roaming"
        static-body
        scale="7.920 0.2 7"
        position="-5.889 1.167 10.203"
        material="color: red; wireframe: true"
        visible="false">
      </a-box>

      <a-plane
        id="taskP1"
        src="#infoPanel"
        material="transparent: true; shader: flat"
        height="auto"
        width="auto"
        scale="1.2 1.170 1"
        position="-5.7592 2.3 13.02616"
        rotation="-8.68 180 0"
        visible="false">
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Úloha"
          text="width: 1.2; wrapCount: 20; alphaTest: 3"
          position="-0.411 0.3 0"
          color="#F2F2F2">
        </a-text>
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Rok 1740 na trón habsburgskej monarchie nastupil/a?"
          text="width: 0.8; wrapCount: 20; alphaTest: 3"
          position="-0.411 0.02749 0.01946"
          color="#F2F2F2">
        </a-text>
        <a-text
          id="P1confirm"
          clk-single-event-handler="name: P1confirm"
          position="0 -0.29141 0.01752"
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          geometry="primitive: plane; height: 0.78; width: 2.020"
          material="color: #36c991; flatShading: true; height: 254.55; width: 492.44"
          align="center"
          text="width: 1.84; value: Potvrdiť Odpoveď; color: #e3e3e3; wrapCount: 15.94"
          scale="0.44 0.25 1"
          sound__success="src: #success_sound; on: success; poolSize: 2"
          sound__unsuccess="src: #unsuccess_sound; on: unsuccess; poolSize: 2"></a-text>
      </a-plane>

      <a-plane
        src="#maria"
        scale="2 2.42 2"
        height="auto"
        width="auto"
        rotation="0 -90 0"
        position="-2.177 3.354 11.266">
        <a-entity
          class="infoPanels"
          position="0.227 -0.562 0.115"
          scale="1 0.420 0.510"
          rotation="0 90 0">
          <a-circle
            class="interactible"
            clk-multi-event-handler="firstToggleEvent: P1Cselect; secondToggleEvent: P1Cunselect"
            material="src: #unselected; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.60927"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2"></a-circle>
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.21117"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.19709 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Mária Terézia"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.417 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Mária Terézia (1717-1780), najstaršia dcéra nemeckého cisára Karola VI., posledného mužského potomka Habsburgovcov, nastúpila na trón na základe tzv. pragmatické sankcie. Aj keď nebola vychovávaná ako budúca vládkyňa, dokázala sa tejto úlohy naplno zhostiť. Vyhýbala sa konfliktom a svoje panovnícke rozhodnutia konzultovala s okruhom spolupracovníkov. Jej manželstvo napriek tomu, že bolo politicky dohodnutým sobášom bolo veľmi šťastné. Okrem vladárskych povinností si Mária Terézia príkladne plnila aj materské povinnosti. Mala 16 deti."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 -0.05 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-plane>

      <a-plane
        src="#karol"
        scale="2 2.42 2"
        height="auto"
        width="auto"
        rotation="0 -90 0"
        position="-2.177 3.354 8.379">
        <a-entity
          class="infoPanels"
          position="0.227 -0.562 0.115"
          scale="1 0.420 0.510"
          rotation="0 90 0">
          <a-circle
            class="interactible"
            clk-multi-event-handler="firstToggleEvent: P1Iselect; secondToggleEvent: P1Iunselect"
            material="src: #unselected; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.60927"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2"></a-circle>
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.21117"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.19709 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Karol VI. Habsburský"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.417 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Karol VI. Habsburský (1685 - 1740) bol rakúsky arcivojvoda, rímskonemecký cisár, španielsky, uhorský a český kráľ z rodu Habsburgovcov, mladší syn cisára Leopolda I. a jeho tretej manželky Eleonóry Magdalény Falcko-neuburskej. Po svojom nástupe na cisársky trón a uzavretím Satmárskeho mieru zriadil schválením uhorského snemu stálu armádu, čo mu umožnilo zlikvidovať posledné zvyšky osmanského panstva v Uhorsku. Po definitívnom vytlačení Turkov z Uhorska nastúpil kurz hospodárskej a politickej konsolidácie monarchie."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 -0.05 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-plane>

      <a-plane
        src="#jozef"
        scale="2 2.42 2"
        height="auto"
        width="auto"
        rotation="0 90 0"
        position="-9.518 3.354 11.266">
        <a-entity
          class="infoPanels"
          position="0.227 -0.562 0.115"
          scale="1 0.420 0.510"
          rotation="0 90 0">
          <a-circle
            class="interactible"
            clk-multi-event-handler="firstToggleEvent: P1Iselect; secondToggleEvent: P1Iunselect"
            material="src: #unselected; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.60927"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2"></a-circle>
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.21117"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.19709 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Jozef II. Habsburský"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.417 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Jozef II. bol pripravovaný na to, že sa raz stane panovníkom. Ako šesťročný vedel písať a čítať vo viacerých jazykoch. Dostal dôkladné vzdelanie, jeho učiteľmi boli významní osvietenci. Nedal sa korunovať za uhorského a českého kráľa, preto ho šľachta posmešne nazývala „klobúkový kráľ”. Ešte v roku 1765 však bol korunovaný za nemeckého cisára. Už ako spoluvládca Mánie Terézie kritizoval pomalé a nedôsledné zavádzanie reforiem."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 0 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-plane>

      <a-plane
        src="#frantisek"
        scale="2 2.42 2"
        height="auto"
        width="auto"
        rotation="0 90 0"
        position="-9.518 3.354 8.379">
        <a-entity
          class="infoPanels"
          position="0.227 -0.562 0.115"
          scale="1 0.420 0.510"
          rotation="0 90 0">
          <a-circle
            class="interactible"
            clk-multi-event-handler="firstToggleEvent: P1Iselect; secondToggleEvent: P1Iunselect"
            material="src: #unselected; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.60927"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2"></a-circle>
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.21117"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.19709 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="František I. Štefan Lotrinský"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.4 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="František Štefan I. Lotrinský (1708 - 1765) bol lotrinský vojvoda, toskánsky veľkovojvoda a cisár svätej ríše Rímskej. Svoje nie veľmi úspešné pôsobenie ako cisár si plne vynahradil v podnikateľskej oblasti, v ktorej prejavil mimoriadne nadanie. Základom jeho majetku sa stalo ohromné dedičstvo, ktoré mu poslúžilo na rozvoj podnikania. Okrem manufaktúr založil niekoľko bánk, stal sa hlavným dodávateľom pre habsburskú armádu, počas sedemročnej vojny dokonca zásoboval i armádu pruského kráľa Fridricha II."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 -0.05 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-plane>

      <!-- Exposition Room 2 ------------------------------------------------------------------------------->
      <a-box
        id="place2"
        physics-collider
        collision-detector="collisionEvent: P2; clearedCollisionEvent: Roaming"
        static-body
        scale="7.92 0.2 7"
        position="-5.889 1.167 -3.74901"
        material="color: red; wireframe: true"
        visible="false">
      </a-box>

      <a-plane
        id="taskP2"
        src="#infoPanel"
        material="transparent: true; shader: flat"
        visible="false"
        height="auto"
        width="auto"
        scale="1.2 1.170 1"
        position="-5.7592 2.3 -6.5"
        rotation="-8.68 0 0">
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Úloha"
          text="width: 1.2; wrapCount: 20; alphaTest: 3"
          position="-0.411 0.3 0"
          color="#F2F2F2">
        </a-text>
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Označte expozície s reformamy, ktoré zaviedla Mária Terézia"
          text="width: 0.8; wrapCount: 20; alphaTest: 3"
          position="-0.411 0.01 0.00816"
          color="#F2F2F2">
        </a-text>
        <a-text
          id="P2confirm"
          clk-single-event-handler="name: P2confirm"
          position="0 -0.30236 0.00878"
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          geometry="primitive: plane; height: 0.78; width: 2.020"
          material="color: #36c991; flatShading: true; height: 254.55; width: 492.44"
          align="center"
          text="width: 1.84; value: Potvrdiť Odpoveď; color: #e3e3e3; wrapCount: 15.94"
          scale="0.45 0.25 1"
          sound__success="src: #success_sound; on: success; poolSize: 2"
          sound__unsuccess="src: #unsuccess_sound; on: unsuccess; poolSize: 2"></a-text>
      </a-plane>

      <a-entity
        gltf-model="#book"
        position="-8.768 2.640 -2.599"
        rotation="0 180 60">
        <a-entity
          class="infoPanels"
          position="-0.633 0.230 0.422"
          rotation="0 0 -60">
          <a-circle
            class="interactible"
            clk-multi-event-handler="firstToggleEvent: P2Cselect; secondToggleEvent: P2Cunselect"
            material="src: #unselected; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.60927"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2"></a-circle>
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.21117"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.19709 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Zdravotná reforma"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.4 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Zriadenie komisií, ktoré mali chrániť obyvateľstvo pred nákazlivými chorobami a tiež mali vykonávať osvetu u prostého obyvateľstva. Kontrolovali zdravotnícke zariadenia, bojovali proti šíreniu moru a iných nákazlivých chorôb a radili obyvateľstvu stavať murované domy, nie drevené. Komisie nariaďovali aj očkovanie proti chorobám."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 0.1 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-entity>

      <a-entity
        gltf-model="#book"
        position="-8.768 2.640 -5.780"
        rotation="0 180 60">
        <a-entity
          class="infoPanels"
          position="-0.633 0.230 0.422"
          rotation="0 0 -60">
          <a-circle
            class="interactible"
            clk-multi-event-handler="firstToggleEvent: P2Cselect; secondToggleEvent: P2Cunselect"
            material="src: #unselected; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.60927"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2"></a-circle>
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.21117"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.19709 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Tereziánsky urbár"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.4 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Tereziánsky urbár určoval veľkosť poddanskej závislosti, na základe ktorej ustanovil povinnosti poddaných voči zemepánovi. Tak sa zo súkromno-právneho vzťahu medzi zemepánom a poddaným stal verejnoprávny vzťah, čím sa zlepšilo sociálne postavenie poddaných. Urbáre boli písané v jazyku ľudu, teda v slovenských oblastiach po slovensky. Urbárska regulácia upravovala poddanské pomery až do roku 1848, keď bolo poddanstvo zrušené."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 0 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-entity>

      <a-entity
        gltf-model="#book"
        position="-2.904 2.640 -2.599"
        rotation="0 0 60">
        <a-entity
          class="infoPanels"
          position="-0.633 0.230 0.422"
          rotation="0 0 -60">
          <a-circle
            class="interactible"
            clk-multi-event-handler="firstToggleEvent: P2Cselect; secondToggleEvent: P2Cunselect"
            material="src: #unselected; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.60927"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2"></a-circle>
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.21117"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.19709 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Všeobecný školský poriadok"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.4 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Podľa neho malo nárok na vzdelanie každé dieťa na území habsburskej monarchie, bez ohľadu na pôvod, miesto bydliska alebo pohlavie. V každej dedine sa mala založiť škola, v ktorej sa deti mali učiť tzv. trivium, teda čítať, písať a počítať, čím sa položili základy všeobecnej gramotnosti.  Všeobecný školský poriadok rozdelil školy na štyri základné typy  Ľudové školy (triviálne, hlavné a normálne),  Latinské gramatické školy, Gymnáziá a Univerzity a lýceá."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 -0.05 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-entity>

      <a-entity
        gltf-model="#book"
        position="-2.904 2.640 -5.780"
        rotation="0 0 60">
        <a-entity
          class="infoPanels"
          position="-0.633 0.230 0.422"
          rotation="0 0 -60">
          <a-circle
            class="interactible"
            clk-multi-event-handler="firstToggleEvent: P2Iselect; secondToggleEvent: P2Iunselect"
            material="src: #unselected; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.60927"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2"></a-circle>
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.21117"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.19709 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Patent o zrušení nevoľníctva"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.4 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Patent o zrušení nevoľníctva umožnil poddaným, aby sa slobodne sťahovali, sobášili, dávali deti na remeslo a štúdium. Predtým potrebovali súhlas zemepána. Vydanie patentu urýchlilo sťahovanie voľnej pracovnej sily do miest a priemyselných stredísk."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 0.1 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-entity>

      <!-- Exposition Room 3 ------------------------------------------------------------------------------->
      <a-entity id="collisionWalls" visible="false">
        <a-plane
          scale="7.92 20.24 20.36"
          position="22.543 2.263 3.0333"
          rotation="-90 0 0"
          static-body></a-plane>
        <a-plane
          scale="7.92 20.24 20.36"
          position="22.543 5.98686 3.0333"
          rotation="90 0 0"
          static-body></a-plane>
        <a-plane
          scale="7.92 5.52 20.36"
          position="22.543 4.077 -7.10858"
          static-body></a-plane>
        <a-plane
          scale="7.92 5.52 20.36"
          position="22.543 4.077 13.37271"
          static-body
          rotation="180 0 0"></a-plane>
        <a-plane
          scale="20.35 4.509 0.00001"
          position="18.868 3.67585 3.1656"
          rotation="0 90 0"
          static-body></a-plane>
        <a-plane
          scale="20.35 4.509 0.00001"
          position="26.17209 3.67585 3.1656"
          rotation="180 90 0"
          static-body></a-plane>
      </a-entity>

      <a-box
        id="pedestal"
        physics-collider
        collision-filter="collisionForces: false"
        collision-detector="collisionEvent: place; clearedCollisionEvent: displace; placeColliderType: false"
        static-body
        scale="3.350 1 0.85"
        position="22.51704 2.933 -5.18307"
        material="color: red; wireframe: true"
        visible="false"
        sound="src: #tap; on: collisions; poolSize: 2">
      </a-box>

      <a-box
        id="place3"
        physics-collider="ignoreSleep: true"
        collision-detector="collisionEvent: P3; clearedCollisionEvent: Roaming"
        static-body
        scale="7.920 0.2 20.360"
        position="22.543 1.167 3.142"
        material="color: red; wireframe: true"
        visible="false">
      </a-box>

      <a-plane
        id="taskP3"
        src="#infoPanel"
        material="transparent: true; shader: flat"
        visible="false"
        height="auto"
        width="auto"
        scale="1.2 1.170 1"
        position="19.584 2.35122 -4.565"
        rotation="-8.68 0 0">
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Úloha"
          text="width: 1.2; wrapCount: 20; alphaTest: 3"
          position="-0.411 0.34394 0.00671"
          color="#F2F2F2">
        </a-text>
        <a-text
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          value="Nájdite Uhorské korunovačné insígnie v miestnosti a preneste ich na prázdny podstavec napravo."
          text="width: 0.8; wrapCount: 20; alphaTest: 3"
          position="-0.411 0.02874 0.01202"
          color="#F2F2F2">
        </a-text>
        <a-text
          id="P3confirm"
          clk-single-event-handler="name: P3confirm"
          position="0 -0.33365 0.004"
          font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
          negate="false"
          geometry="primitive: plane; height: 0.78; width: 2.020"
          material="color: #36c991; flatShading: true; height: 254.55; width: 492.44"
          align="center"
          text="width: 1.84; value: Potvrdiť Odpoveď; color: #e3e3e3; wrapCount: 15.94"
          scale="0.44 0.25 1"
          sound__success="src: #success_sound; on: success; poolSize: 2"
          sound__unsuccess="src: #unsuccess_sound; on: unsuccess; poolSize: 2"></a-text>
      </a-plane>

      <a-entity gltf-model="#svMartin" position="0 1 16">
        <a-entity
          class="infoPanels"
          position="24.555 1.246 -12.605"
          rotation="0 0 0">
          <a-circle
            class="interactible"
            toggle-info
            material="src: #infoIcon; side: double; shader: flat"
            radius="0.15"
            position="0 0 -0.23942"
            rotation="0 -90 0"
            sound="src: #tap; on: click; poolSize: 2">
            <a-plane
              src="#infoPanel"
              visible="false"
              material="transparent: true; opacity: 0.95; shader: flat"
              height="auto"
              width="auto"
              scale="1.5 2 1"
              position="-0.02688 1.216 0">
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="Katedrála svätého Martina"
                text="width: 0.8; wrapCount: 20; alphaTest: 3"
                position="-0.411 0.4 0"
                color="#F2F2F2">
              </a-text>
              <a-text
                font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
                negate="false"
                value="V dnešnej Katedrále sv. Martina korunovali ako prvého panovníka v roku 1563 Ferdinandovho syna Maximiliána. V rokoch 1563 až 1830 sa tu konalo 19 korunovácii. Z nich najznámejšia je korunovácia Márie Terézie. Práve za jej panovania bola na vežu kostola umiestnená kópia uhorskej koruny ako pamiatka na túto slávnostnú udalosť."
                text="width: 0.8; wrapCount: 33; alphaTest: 3"
                position="-0.411 0 0"
                color="#F2F2F2">
              </a-text>
            </a-plane>
          </a-circle>
        </a-entity>
      </a-entity>

      <a-entity
        gltf-model="#crown"
        class="P3C"
        position="22.582 2.456 12.098"
        mixin="canGrab"></a-entity>
      <a-text
        position="22.508 2.133 11.528"
        rotation="0 180 0"
        font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
        negate="false"
        value="Koruna"
        width="1"
        geometry="primitive: plane; height: 0.78; width: 1.16"
        material="color: #363636; flatShading: true; height: 254.55; width: 491.86"
        align="center"
        text="color: #e3e3e3; wrapCount: 8.12"
        scale="0.4 0.2 1"></a-text>

      <a-entity
        gltf-model="#cup"
        class="P3I"
        position="19.548 2.631 8.807"
        mixin="canGrab"></a-entity>
      <a-text
        position="19.985 2.133 8.820"
        rotation="0 90 0"
        font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
        negate="false"
        value="Čaša"
        width="1"
        geometry="primitive: plane; height: 0.78; width: 1.16"
        material="color: #363636; flatShading: true; height: 254.55; width: 491.86"
        align="center"
        text="color: #e3e3e3; wrapCount: 8.12"
        scale="0.4 0.2 1"></a-text>

      <a-entity
        gltf-model="#apple_coat"
        class="P3C"
        position="25.467 2.456 12.031"
        mixin="canGrab"></a-entity>
      <a-text
        position="25.05639 2.13372 11.98706"
        rotation="0 -90 0"
        font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
        negate="false"
        value="Jablko a Plášt"
        width="1"
        geometry="primitive: plane; height: 0.78; width: 1.16"
        material="color: #363636; flatShading: true; height: 254.55; width: 491.86"
        align="center"
        text="color: #e3e3e3; wrapCount: 8.12"
        scale="0.4 0.2 1"></a-text>

      <a-entity
        gltf-model="#sword"
        class="P3C"
        position="25.426 3.408 8.866"
        mixin="canGrab"></a-entity>
      <a-text
        position="25.05639 2.13372 8.82306"
        rotation="0 -90 0"
        font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
        negate="false"
        value="Meč"
        width="1"
        geometry="primitive: plane; height: 0.78; width: 1.16"
        material="color: #363636; flatShading: true; height: 254.55; width: 491.86"
        align="center"
        text="color: #e3e3e3; wrapCount: 8.12;"
        scale="0.4 0.2 1"></a-text>

      <a-entity
        gltf-model="#mace"
        class="P3C"
        position="19.505 3.773 11.937"
        mixin="canGrab"></a-entity>
      <a-text
        position="19.985 2.133 11.987"
        rotation="0 90 0"
        font="../assets/fonts/WorkSans-VariableFont_wght-msdf.json"
        negate="false"
        value="Žezlo"
        width="1"
        geometry="primitive: plane; height: 0.78; width: 1.16"
        material="color: #363636; flatShading: true; height: 254.55; width: 491.86"
        align="center"
        text="color: #e3e3e3; wrapCount: 8.12"
        scale="0.4 0.2 1"></a-text>
    </a-scene>
  </body>
</html>
