<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Zážitok vo virtuálnej realite</title>
    <meta name="description" content="Now in 3D!">

    <script src="https://aframe.io/releases/1.0.4/aframe.min.js" crossorigin="anonymous"></script>

    <!--PHYSICS SYSTEM------------------------------------------------------------------------------------------------------>
    <script src="https://cdn.jsdelivr.net/gh/n5ro/aframe-physics-system@v4.0.1/dist/aframe-physics-system.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aframe-physics-extras/dist/aframe-physics-extras.min.js" crossorigin="anonymous">
    </script>
    <!--MY SCRIPTS------------------------------------------------------------------------------------------------------>
    <script src="../js/bundle.js"></script>


</head>

<body>
    <!-- To add fog to map  -->
    <!-- fog="type: linear; color: #000; far: 16; near: 7" -->
    <a-scene shadow="type: pcfsoft" petri-net-sim>

        <!-- Splash Screen -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header pb-0 border-0">
                        <h4 class="modal-title" id="staticBackdropLabel">Hrateľnosť</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5><small class="mb-2 text-muted">Stolný počítač a myš</small></h5>
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">
                                <button class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="currentColor" class="bi bi-mouse2-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M7.5.026C4.958.286 3 2.515 3 5.188V5.5h4.5V.026zm1 0V5.5H13v-.312C13 2.515 11.042.286 8.5.026zM13 6.5H3v4.313C3 13.658 5.22 16 8 16s5-2.342 5-5.188V6.5z" />
                                    </svg></button>
                            </div>
                            <div class="p-2 flex-shrink-1 bd-highlight text-start">
                                <h5>KAMERA</h5>
                            </div>
                        </div>
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">
                                <button class="btn btn-secondary"><svg width="16" height="16" viewBox="0 0 16 16"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M8.5 5.49988V0.0258789C11.042 0.285879 13 2.51488 13 5.18788V5.49988H8.5ZM3 6.49988H13V10.8119C13 13.6579 10.78 15.9999 8 15.9999C5.22 15.9999 3 13.6579 3 10.8129V6.49988Z"
                                            fill="white" />
                                        <path
                                            d="M7.5 0.0258789C4.958 0.285879 3 2.51488 3 5.18788V5.49988H7.5V0.0258789Z"
                                            fill="black" />
                                    </svg></button>
                            </div>
                            <div class="p-2 flex-shrink-1 bd-highlight">
                                <h5>INTERAKCIA</h5>
                            </div>
                        </div>
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">
                                <button class="btn btn-secondary"><svg width="16" height="16" viewBox="0 0 16 16"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M8.5 5.49988V0.0258789C11.042 0.285879 13 2.51488 13 5.18788V5.49988H8.5ZM3 6.49988H13V10.8119C13 13.6579 10.78 15.9999 8 15.9999C5.22 15.9999 3 13.6579 3 10.8129V6.49988Z"
                                            fill="white" />
                                        <path
                                            d="M7.5 0.0258789C4.958 0.285879 3 2.51488 3 5.18788V5.49988H7.5V0.0258789Z"
                                            fill="black" />
                                    </svg></button> + PODRŽAŤ
                            </div>
                            <div class="p-2 flex-shrink-1 bd-highlight">
                                <h5>UCHOPENIE</h5>
                            </div>
                        </div>
                        <div class="d-flex bd-highlight">
                            <div class="p-2 w-100 bd-highlight">
                                <button class="btn btn-secondary">W</button>
                                <button class="btn btn-secondary">A</button>
                                <button class="btn btn-secondary">S</button>
                                <button class="btn btn-secondary">D</button>
                            </div>
                            <div class="p-2 flex-shrink-1 bd-highlight">
                                <h5>POHYB</h5>
                            </div>
                        </div>
                        <hr>
                        <h5><small class="mb-2 text-muted">VR náhlavná súprava</small></h5>
                        <p>Pripravuje sa...</p>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary ps-2" data-bs-dismiss="modal">Okey</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Load Assets -->
        <a-assets>
            <!-- global -->
            <img id="floor" src="../assets/map/floor.jpg" alt="floor" crossorigin="anonymous">
            <img id="wall" src="../assets/map/wall-concrete.jpg" alt="wall" crossorigin="anonymous">
            <img id="wall-secret" src="../assets/map/wall-concrete-secret.jpg" alt="wall-secret" crossorigin="anonymous">
            <img id="wall-brick" src="../assets/map/brick.jpg" alt="wall-brick" crossorigin="anonymous">
            <img id="skybox" src="../assets/sky/skybox.jpg" alt="skybox" crossorigin="anonymous" />
        </a-assets>


        <!-- Ground -->
        <a-grid static-body id="ground" load-map material="src: #floor; repeat: 15 15" position="0 0 -0.5" rotation="-90 0 0" shadow="cast: false; receive: true"></a-grid>


        <!-- AVATAR BODY ------------->
        <a-entity id="rig" positon="0 0 8">
            <a-entity geometry="primitive: cylinder; radius: 0.7" id="player" material="color: green; wireframe: true" position="0 0 8" movement-controls kinematic-body>
                <a-entity id="playerhead" camera position="0 1.6 0" rotation="0 0 0" look-controls="pointerLockEnabled:true">
                    <!-- 3D CURSOR IMPLEMENTATION ------------------------------------------->
                    <a-entity class="rayhead" cursor="rayOrigin: mouse;" raycaster="objects: .clickable; showLine: true; far: 500" line="color: white; opacity: 1" position="0 0 0" visible="false"></a-entity>
                    <a-entity cursor="fuse: false; fuseTimeout: 500" geometry="primitive: ring; radiusInner: 0.005; radiusOuter: 0.009" material="color: #d1d1d1; shader: flat" position="0 0 -1"></a-entity>
                </a-entity>
            </a-entity>
        </a-entity>

        <!-- Walls (generated by map.js) -->
        <a-entity id="walls" shadow="recive: true" position="0 3 0">
        </a-entity>


        <!-- Exampe Room 1 (Immediate left) -->
        <!-- Lights LEFT 1 -->
        <a-sphere id="st1_m1" clickhandler="name: st1_m1" color="red" radius=".2" position="-10 2 7.5"></a-sphere>
        <a-sphere id="st1_m2" clickhandler="name: st1_m2" color="green" radius=".2" position="-10 2 8.5"></a-sphere>
        <a-sphere id="st1_m3" clickhandler="name: st1_m3" color="yellow" radius=".2" position="-10 2 6.5"></a-sphere>
        <a-box id="placeST1" physics-collider collision-detector="name: ST1; element: player" collision-filter="collisionForces: false" static-body scale="8.5 0.5 8.5" position="-10.45785 0.5 7.58878" material="color: red; wireframe: true">
        </a-box>
        <!-- Exampe Room 2 (Immediate right) -->
        <a-sphere id="ST3_ano" clickhandler="name: ST3_ano" color="green" radius=".2" position="7.35862 2 8.5">
        </a-sphere>
        <a-sphere id="ST3_nie" clickhandler="name: ST3_nie" color="red" radius=".2" position="7.35565 2 7.5"></a-sphere>
        <a-box id="placeST3" physics-collider collision-detector="name: ST3; element: player" collision-filter="collisionForces: false" static-body scale="8.5 0.5 8.5" position="7.5 0.5 7.58878" material="color: red; wireframe: true">
        </a-box>
        <!-- Exampe Room 3 (Second right) -->
        <a-box id="placeST2" physics-collider collision-detector="name: ST2; element: player" collision-filter="collisionForces: false" static-body scale="8.5 0.5 8.5" position="7.5 0.5 -4.53167" material="color: red; wireframe: true">
        </a-box>
        <!-- Exampe Room 4 (BIG room) -->
        <a-box id="placeST4" physics-collider collision-detector="name: ST4; element: player" collision-filter="collisionForces: false" static-body id="placeST4" scale="8.5 0.5 8.5" position="-1.43907 0.5 -22.57711" material="color: red; wireframe: true">
        </a-box>

        <!-- Sky -->
        <a-sky src="#skybox" rotation="0 90 0"></a-sky>

        <!--LIGHTS implementation
        -------------------------------------------------------------------------------------------->
        <a-entity light="color: #fff; intensity: 0.34; type: ambient;" visible="true">
        </a-entity>
        <a-entity light=" type: directional; color: #FFF; intensity: 1.2; castShadow: true; shadowCameraFar: 500; shadowCameraVisible: false; shadowBias: -0.003; shadowMapHeight:2048; shadowMapWidth:2048; shadowCameraLeft: -50; shadowCameraRight: 50;
            shadowCameraBottom: -50; shadowCameraTop: 50; " position=" 3 21 -3 " target=" #directionaltarget ">
            <a-entity id=" directionaltarget " position=" 0 0 0 "></a-entity>
        </a-entity>

    </a-scene>
    <script src="../index.js"></script>
</body>

</html>