html {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 600;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash__card {
    width: 30%;
    height: auto;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.splash__card,
p {
    padding: 15px;
    padding-bottom: 25px;
}

.splash__card>button {
    margin: 0 auto 0 15px;
}

.splash__button {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}

.splash__img {
    width: 100%;
    display: block;
    max-height: 20em;
    margin: auto;
    object-fit: fill;
    border-radius: 4px;
}

@media only screen and (max-width: 700px) {
    .splash__card {
        width: 100%;
        height: auto;
    }
    .splash__img {
        width: 100%;
        display: block;
        height: auto;
        margin: auto;
        object-fit: cover;
    }
}